### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [2]:
message = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
message.count ("row")

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [8]:
name = input("Enter your name: ")
color = input("Enter a color: ")
animal = input("Enter an amimal: ")
print(f"{name} had a little {animal}")
print(f"It was {color} as snow.")
print(f"And everywhere that {name} went, the {animal} was sure to go.")

Enter your name: Suzy
Enter a color: pink
Enter an amimal: bear
Suzy had a little bear
It was pink as snow.
And everywhere that Suzy went, the bear was sure to go.

3. Print 3.14159 in a scientific number notation

In [10]:
numb1 = 3.14159
print(f"{numb1:e}")

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [15]:
numb1 = 3.1559
print(f"{numb1:.4}")

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [18]:
numb1 = 1589.92341
print(f"{numb1**3:e}")

4.019098e+09

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [7]:
print(39 // 2)
print(39%2)

19
1

In [8]:
print(19 // 2)
print(19%2)

9
1

In [9]:
print(9 // 2)
print(9%2)

4
1

In [10]:
print(4 // 2)
print(4%2)

2
0

In [11]:
print(2 // 2)
print(2%2)

1
0

In [12]:
print(1//2)
print(1%2)

0
1

In [2]:
bin(39)

'0b100111'

In [3]:
int(0b100111)

39

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [14]:
print(39//8)
print(39%8)

4
7

In [15]:
print(4//8)
print(4%8)

0
4

In [13]:
oct(39)

'0o47'

In [16]:
int(0o47)

39

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [19]:
print(39//16)
print(39%16)

2
7

In [20]:
print(2//16)
print(2%16)

0
2

In [17]:
hex(39)

'0x27'

In [18]:
int(0x27)

39

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [36]:
amount = float(input("Enter an amount: "))
tax_rate = float(input("Enter a tax rate: "))
tax_rate_as_percentage = tax_rate * .01
print(f"Amount: ${amount:.2f} ")
print(f"Tax rate percentage: {tax_rate:.2f} % ")
print(f"Calculated tax amount: {tax_rate_as_percentage*amount:.2f} ")
print(f"Total: {amount+(tax_rate_as_percentage*amount):.2f} ")

Enter an amount: 233
Enter a tax rate: 2
Amount: $233.00
Tax rate percentage: 2.00 %
Calculated tax amount: 4.66
Total: 237.66